<h1>Articles</h1>

Our blog has <%= Article.public_count %> articles and counting!   

<ul>
  <% @articles.each do |article| %> <!-- avalia o seguinte codigo ruby anexo -->
    <li>
        <%= link_to article.title, article %> <!-- avalia o seguinte codigo ruby enclosed e de output no valor q ele retorna-->
        <!-- link_to renderiza um link para o local que o segundo argumento aponta, usando o primeiro como texto -->
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>